node_modules
.next
out
.env
.env.local
.env.*.local
npm-debug.log*
.DS_Store
*.tsbuildinfo
.vs/
android/.gradle/
android/local.properties
android/app/build/
android/build/
.android-sdk/
.android-sdk-commandline-tools.zip
.android-sdk-extract/
